{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'newabt.css' %}">
    <link rel="stylesheet" href="{% static 'abt.css' %}">
</head>
<body>
<section>
    <nav>
        <div class="logo">
            <img src="{% static 'logo.jpg' %}" alt="">
        </div>
        <ul>
            <li><a href="home1">HOME</a> </li>
            <li><a href="newabt">ABOUT</a> </li>
            <li><a href="service">SERVICE</a> </li>
            <li><a href="project">PROJECTS</a> </li>
            <li><a href="contact">CONTACT</a> </li>
            <li><a href="log">SIGN IN</a> </li>
        </ul>

    </nav>
</section>
<div class="add">
    <div class="top">
          <h1 >ABOUT US</h1>
    </div>
</div>
<div class="container">
    <div class="about-body">
        <div class="left-side">
            <div class="pic1">
                <img src="{% static 'about-1.jpg' %}">
            </div>
             <div class="pic2">
                <img src="{% static 'about-2.jpg' %}">
            </div>

        </div>
        <div class="right-side">
            <div class="about-head">
                <h3>ABOUT US</h3>
                <h1>We Are Leader In Industrial Market</h1>
                <p class="p">Jala industrial company is an Electro-Mechanical Contracting Company. We are Saudi Arabia's BEST HVAC and electromechanical services, provider. The operations of Jala Industrial Company include several investment sectors (Industrial, Trading, and Services). Many cities could see the emergence of these activities. The most significant towns include Jeddah, Makah, Tiaf, Yonbu, Gizan, and Najran among others. Over 200 projects of varying sizes have been successfully performed by Jala Industrial Company this year.
                    </p>
                <div class="b">
                    <p><b>Industrial</b></p>
                </div>

                <div class="l">
                    <ul>
                        <li> Design Services</li>
                        <li> Mechanical Projects Execution Services</li>
                        <li> Mechanical Projects Pricing Services</li>
                        <li> HVAC Equipment Replacement services</li>
                        <li> HVAC Systems testing, Commission and Balancing (TAB) Services</li>
                    </ul>

                </div>


            </div>
        </div>
    </div>

</div>
<div class="container1">
       <div>
                <div class="header">
                       <h2>OUR COMPANY'S BACKGROUND</h2>
                </div>
                <div class="pa">
                     <p>Industrial Company was established in 1990 as an Electro-Mechanical contracting company. It is well known in Saudi Arabia for engineering excellence, project completion dependability, quality of work, and after-sales service. It has adopted a division aliased organization structure with each division specializing in different business segments for better customer focus and providing the best possible service to achieve customer satisfaction. The contracting division is the flagship division of the company that encompasses both A/C HVAC contracting and general contracting. Additionally, to that, there is a trading division, which represents HVAC products & systems from different renowned companies including:</p>
                </div>
                <div class="dot">
                      <ul>
                        <li>TACO, USA for chilled water pumps and hydraulic products.</li>
                        <li>BLUE STAR, India for central air-conditioning equipment & systems.</li>
                        <li>THERMOSCREEN, UK for Air curtains.</li>
                        <li>SYSTEMAIR, Germany for ventilation fans, etc.</li>

                     </ul>
                </div>
                <div class="pa">
                     <p>The company strives to maintain the pioneer attributes and distinctions that it has gained at local and national levels. It also strives to expand its activities and investments, as well as raise its competitive capabilities and its human and material potential to become an international company with expanded activities and multi-national accreditation. In making this feasible, the company has made wide and strong relations with many regional and global economic institutions and unions. </p>
                     <p>Jala Industrial Company's activities permeate through various investment fields (Industrial, Trading, and Services). These activities spread in many cities. The most notable cities include Riyadh, Jeddah, Makkah, Taif, Yanbu, Gizan, and Najran. Over the years  Jala Industrial Company has successfully completed over 200 projects of various sizes, in diverse applications from simple fit-out works to complicated projects such as universities, hospitals, shopping centers, and 5-star luxury hotels. </p>
                </div>
       </div>
</div>

<div class="container3">
        <div>
            <h3 class="ceo">CEO'S MESSAGE</h3>
            <p class="p-ceo">As we turn another page in history, I would like to take this opportunity to express my profound gratitude to all our clients and business partners for their continued support and contributions to the success of Jala Industrial International Company through the years of operation. </p>
            <p class="p-ceo">Jala Industrial International Company firmly believes in talent retention, which over time has been achieved through cross-functional alignments in key talent base, and training and development programs that ensure workplace morale and helped the employees acquire new skills whilst improving productivity. </p>
            <p class="p-ceo">Moreover, I would like to put emphasis on Jala International Company's vehement efforts in enhancing the level of project design and management as well as maintaining a high level of satisfaction for our clients, whom we value as the most important and indispensable assets of our company. </p>
            <p class="p-ceo">The massive spending plans by the government of Saudi Arabia to build new projects such as hospitals and universities around the kingdom, and the vast knowledge and experience that we gained from our decades-long experience in Saudi Arabia, have motivated us to meet the new project demands and to uphold the company's core business values of integrity, quality, and safety on-time delivery of projects and premium after-sales service support successfully. </p>
            <p class="p-ceo">The Company today has its vision and mission focused on giving the best products and services to its customers and backing them every day from pre-sale advice to after-sales service and maintenance. On behalf of Saba International Company, I wish you all a great prosperous year ahead.</p>
            <p class="p-ceo">On behalf of Jala International Company, I wish you all a great prosperous year ahead. </p>
            <p class="ab">Yousef M. Nawwab </p>
            <p class="ab">Chairman and Managing Director</p>

        </div>

</div>

</body>
</html>